<div class="place-view">
    <div class="filter-box">
        <div class="filter-box__title">
            <span>Места </span>
            <div class="filter-box__delete-all">🗑</div>
        </div>
        <div class="filter-box__tumbs">
            <input id="f1" class="filter-box__tumb" type="radio" name="filter" checked/>
            <label for="f1">Все</label>
            <input id="f2" class="filter-box__tumb" type="radio" name="filter"/>
            <label for="f2">Посетить</label>
            <input id="f3" class="filter-box__tumb" type="radio" name="filter"/>
            <label for="f3">Посещенные</label>
        </div>
    </div>
    <div class="place-view__places">
        {{#each places}}
            <div id={{id}} class="place">
                <div class="place__main">
                    <div class="place__change-btn">🖋</div>
                    <div class="place__delete-btn">❌</div>
                    <div class="place__description" style="text-decoration: {{textDecoration}}">{{description}}</div>
                </div>
                <div class="place__controlls">
                    <div class="place__dragdrop">🔀</div>
                    <input class="place__checkbox" type="checkbox" {{visited}}/>
                </div>
                <div class="place__input-сhange">
                    <input class="place__input" type="text" value="{{description}}"/>
                    <div class="place__cancel-btn">❌</div>
                    <div class="place__confirm-btn">✅</div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
